<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap" rel="stylesheet">

/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    cursor: none; /* Oculta el cursor predeterminado */
}

/* Estilos para el contenedor del cursor personalizado */
.cursor {
    position: fixed;
    width: 40px; /* Tamaño del círculo exterior */
    height: 40px;
    border: 2px solid #000; /* Color del círculo exterior */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
    /* z-index: 9999; */
    /* mix-blend-mode: difference; Mezcla de colores */
}

/* Estilos para el punto interior */
.cursor .inner {
    width: 6px; /* Tamaño del punto interior */
    height: 6px;
    background-color: #000; /* Color del punto interior */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Expande el círculo exterior al pasar por enlaces */
.cursor.hover {
    width: 60px; /* Tamaño al hacer hover */
    height: 60px;
}

/* Hacer que el círculo sea menos visible al hacer hover sobre enlaces */
.cursor.hover .inner {
    opacity: 0.6;
}

/* Enlaces de navegación en las esquinas */
.corner-links {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.corner-links a {
    font-family: 'Bebas Neue';
    position: fixed;
    color: black; /* Color inicial */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.4px;
    pointer-events: all;
    z-index: 5;
    transition: color 0.3s ease;
}

/* Estilos para el círculo negro */
.corner-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, height 0.3s ease;
}

/* Círculo a la izquierda para los enlaces de la izquierda */
#link-welcome::before,
#link-about::before {
    left: -12px;
    top: 46.5%;
    transform: translateY(-50%);
}

/* Círculo a la derecha para los enlaces de la derecha */
#link-works::before,
#link-example::before {
    right: -12px;
    top: 46.5%;
    transform: translateY(-50%);
}

/* Animación para el círculo */
.corner-links a:hover::before {
    width: 9px;
    height: 9px;
}

.corner-links a::before {
    width: 0;
    height: 0;
}


#link-welcome {
    top: 40px;
    left: 50px;
}

#link-works {
    top: 40px;
    right: 50px;
}

#link-about {
    bottom: 40px;
    left: 50px;
}

#link-example {
    bottom: 40px;
    right: 50px;
}

/* Clases para cambiar colores */
.nav_link.is-white {
    color: white;
}

.nav_link.is-black {
    color: black;
}

.nav_link.is-red {
    color: red;
}

/* Efecto visual adicional */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}
.container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0); /* Mantener la posición inicial */
}
.container.relative {
    position: absolute;
    top: 100vh; /* Colocar justo debajo de la pantalla visible */
    left: 0;
    width: 100%;
    /* transform: translateY(-100%); Mantenerlo en su posición sin saltar */
}
.develop-text {
    font-size: 10vw;
    font-weight: bold;
    z-index: 2;
    transition: opacity 1.5s ease-in-out;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    width: 50%;
    text-align: justify;
}
.overlay-text p {
    font-size: larger;
}
.vidzflow-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1.2); /* Zoom inicial reducido */
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    opacity: 0; /* Oculto inicialmente */
}
.zoom-in .vidzflow-embed {
    transform: scale(1); /* Zoom natural del video */
    opacity: 1; /* Mostrar el video */
}
.zoom-in .develop-text {
    opacity: 0; /* Ocultar el texto después del zoom */
}
.content-info-personal {
    margin-top: calc(140vh + 340px);
    display: flex;
    flex-direction: row;
    color: #000;
    text-align: center;
    /* margin-top: 1250px; Aparece debajo del video */
    justify-content: space-around;
    position: relative;
}

/* Mitad izquierda con fondo #ccf381 */
.half-section.left {
    background-color: #E6DFD8;
    width: 30%; /* Ocupa el 70% de la sección */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EF412C; /* Texto en azul oscuro */
    z-index: -2;
    height: 835px;
}

/* Mitad derecha con fondo #EF412C */
.half-section.right {
    background-color: #EF412C;
    width: 70%; /* Ocupa el 30% de la sección */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6DFD8; /* Texto en verde claro */
    z-index: -4;
}

/* Estilos para la mitad de la sección con el fondo azul */
.text-content {
    width: 50%;
    color: #E6DFD8; /* Texto en naranja sobre fondo azul */
    margin-left: 150px;
}

/* Estilos para la mitad de la sección con el fondo naranja */
.content-info-personal img {
    z-index: -1;
    width: 22%;
    /* margin-top: 150px; */
    position: absolute;
    top: 235px;
    left: 17.5rem;
}

.content-info-personal h2 {
    font-family: 'Bebas Neue';
}

.image-border {
    z-index: -2;
    position: absolute;
    top: 255px;
    left: 15.9rem;/* Ajusta según sea necesario para centrar el borde */
}

.half-section-icons.left {
    background-color: #E6DFD8;
    width: 30%; /* Ocupa el 70% de la sección */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
}

.half-section-icons.right {
    background-color: #EF412C;
    width: 70%; /* Ocupa el 70% de la sección */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
}

.content-info-personal p {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: justify;
    font-family: 'Bebas Neue';
}
.tech-icons {
    position: relative;
    top: -115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s ease-in-out;
    margin-right: 100px;
    margin-left: 100px;
}

.tech-icons img {
    max-width: 80px; /* Tamaño máximo de los logos */
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tech-icons img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.show-icons {
    opacity: 1;
    transform: translateY(0);
}

/* .my-work-section {
    background-color: #1a191d;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.my-work-section h1 {
    color: #E6DFD8;
    font-size: 100px;
    font-family: 'Playfair';
}

.my-work-section video {
    height: 500px;
    display: block;
    margin: 0 auto;
} */

.scroll-space {
    height: 200vh; /* Altura para permitir scroll y ver más contenido */
}

.my-work-section {
    background-color: #252123;
    color: #E6DFD8;
    text-align: center;
    padding: 50px 100px;
    margin-top: -68px;
}

.my-work-section h1 {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
}

.intro-text {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.work-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.video-container {
    flex: 1;
    max-width: 45%;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.description {
    flex: 1;
    max-width: 45%;
    text-align: left;
    padding: 0 20px;
}

.description h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.description p {
    font-size: 18px;
    line-height: 1.6;
}

/* Estilos para la disposición izquierda-derecha */
.left {
    order: 1;
}

.right {
    order: 2;
}

.filter-menu {
    display: flex;
    width: 400px;
    justify-content: space-around;
    color: #E6DFD8;
    font-weight: bold;
}

.option-menu {
    cursor: pointer;
}

/* Efecto hover */
.option-menu:hover {
    color: #00D044;
}

/* Clases específicas para ocultar y animar las secciones */
.left-hidden {
    opacity: 0;
    transform: translateX(-100px); /* Mover desde la izquierda hacia la derecha */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.right-hidden {
    opacity: 0;
    transform: translateX(100px); /* Mover desde la derecha hacia la izquierda */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show-left {
    opacity: 1;
    transform: translateX(0); /* Regresa a su posición original desde la izquierda */
}

.show-right {
    opacity: 1;
    transform: translateX(0); /* Regresa a su posición original desde la derecha */
}

/* Otros estilos para .cook-mate-preview-app-left y .cook-mate-preview-app-right */
.cook-mate-preview-app-left {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E6DFD8;
    padding-left: 110px;
    position: relative;
    margin: 80px auto 160px auto;
    height: 250px;
    width: 70%;
}

.cook-mate-preview-app-left img {
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
}

.project-preview-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    margin-left: auto;
    text-align: justify;
    padding-right: 85px;
}

.cook-mate-preview-app-right {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E6DFD8;
    padding-right: 110px;
    position: relative;
    margin: 80px auto 160px auto;
    height: 250px;
    width: 70%;
}

.cook-mate-preview-app-right img {
    height: 350px;
    width: auto;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    right: 85px;
}

.project-preview-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    margin-right: auto;
    text-align: justify;
    padding-left: 110px;
}

.image-container {
    overflow: hidden;
    display: inline-block;
}

.project-image {
    transition: transform 1s ease;
    display: block;
}

.image-side-ornament-right {
    position: absolute;
    right: -100px; /* Inicia fuera del contenedor, a la derecha */
    top: 50%;
    transform: translateY(5%) translateX(-40px);
    transition: right 1s ease, opacity 1s ease;
    opacity: 0; /* Inicialmente invisible */
    z-index: -5; /* Aparece por encima de la imagen */
}

.image-bottom-ornament-right {
    position: absolute;
    left: 60px; /* Inicia fuera del contenedor, a la derecha */
    top: 50%;
    transform: translateY(285px) translateX(629px);
    transition: left 1s ease, opacity 1s ease;
    opacity: 0;
    z-index: -5;
}

.image-side-ornament-left {
    position: absolute;
    left: 112px;
    top: 50%;
    transform: translateY(5%) translateX(60px);
    transition: left 1s ease, opacity 1s ease;
    opacity: 0;
    z-index: -5;
}

.image-bottom-ornament-left {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(285px) translateX(-604px);
    transition: right 1s ease, opacity 1s ease;
    opacity: 0;
    z-index: -5;
}

/* Efecto hover */
.image-container:hover .project-image {
    transform: scale(1.1); /* Zoom en la imagen al pasar el cursor */
}

.image-container:hover .image-side-ornament-right {
    right: 20px;
    opacity: 1; 
}

.image-container:hover .image-bottom-ornament-right {
    left: 10px;
    opacity: 1; 
}

.image-container:hover .image-side-ornament-left {
    left: 20px;
    opacity: 1; 
}

.image-container:hover .image-bottom-ornament-left {
    right: 10px;
    opacity: 1; 
}

/* Proyectos website */
.website-preview-app-left {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E6DFD8;
    padding-left: 60px;
    position: relative;
    margin: 80px auto 160px auto;
    height: 250px;
    width: 80%;
}

.website-preview-app-left img {
    height: 320px;
    border-radius: 10px;
    position: absolute;
    top: -40px;
}

.website-project-preview-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-left: auto;
    text-align: justify;
    padding-right: 57px;
}

.website-preview-app-right {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E6DFD8;
    padding-right: 60px;
    position: relative;
    margin: 80px auto 160px auto;
    height: 250px;
    width: 80%;
}

.website-preview-app-right img {
    height: 283px;
    width: auto;
    border-radius: 10px;
    position: absolute;
    top: -19px;
    right: 32px;
}

.website-project-preview-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 43%;
    margin-right: auto;
    text-align: justify;
    padding-left: 57px;
}

/* Efecto hover */
.website-image-container:hover .project-image {
    transform: scale(1.1); /* Zoom en la imagen al pasar el cursor */
}


.project-preview button {
    width: 100px;
}

/* Cambiar disposición en dispositivos móviles */
@media (max-width: 768px) {
    .work-row {
        flex-direction: column;
    }
    
    .left, .right {
        order: 0;
        max-width: 100%;
    }
    
    .description {
        text-align: center;
        padding: 20px 0;
    }

    .cook-mate-preview-app-left img {
        height: 150px;
        border-radius: 10px;
        position: absolute;
        top: -50px;
    }

    .cook-mate-preview-app-right img {
        height: 150px;
        border-radius: 10px;
        position: absolute;
        top: -50px;
        right: 85px;
    }
}

